:root {
    --textHoverColor: #01C5A2;
}

.app-container {
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ABD9FF;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-Container{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 1em;
    padding: 0.5em 2em;
}

